<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringAiApplication" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="ALTERNATIVE_JRE_PATH" value="ms-21" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="MAIN_CLASS_NAME" value="com.raimundos.spring_ai.SpringAiApplication" />
    <module name="spring-ai" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>